* {
  box-sizing: border-box;
}

body {
  background-color: #FEF7A0;
  font-family: 'Arial';
  font-size: 1em;
  color: black;
  margin: auto;
  max-width: 720px;
}

.canvas {
  background-color: white;
  float: left;
  width: 66.66%;
}

.budgiegenex{
  background-color: darkgreen;
}
.budgiegenex:after {
  content: "";
  display: table;
  clear: both;
}

div.content {
  clear: both;
  padding: 5px;
}

.control {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-auto-rows: minmax(auto, auto);
  background-color: darkgreen;
  font-size: 0.8em;
  width: 33.33%;
  height: 100%;
  float: left;
  color: yellow;

}

.fb-share-button{
  float: right;
  margin: 5px;
}

div.mobile {
  display: none;
  padding: 5px;
  background-color: white;
}

div.mutheader {
  grid-column-start: 1;
  grid-column-end: 4;
  font-weight: bold;
  padding: 2px;
}

div.mutdesc {
  font-size: 0.8em;
  padding-left: 4px;
  align-self: center;
}

div.mainDiv {

  margin: auto;
  overflow-x: hidden;

}

div.logoDiv {
  max-width: 100%;
  margin: auto;
  overflow-x: hidden;
  background-color: #FEF7A0;
}

img.logo {
  max-width: 720px;
  width: 100%;
  height: auto;
  margin:auto;
}


svg {
  width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #8cd600;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fef052;
  color: black;
}

.topnav a.active {
  background-color: #006400;
  color: #fef052;
}

.topnav .icon {
  display: none;
}

a.topnav-right {
  float: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -2;
}



@media screen and (max-width: 600px) {

  body {
    background-color: white;
  }

  .budgiegenex{
    background-color: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .canvas {
    width: 100%;
  }
  .control {
    width:100%;

    font-size: 17px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 100%;
    overflow: scroll;
    border-top: solid;
  }
  
  div.mobile {
    display: block;
  }

  input[type=radio]{
    margin-bottom: 15px;
    margin-left: 15px;
  }

  div.mutdesc {
    font-size: 0.8em;
    padding-left: 4px;
    align-self: center;
    margin-bottom: 15px;
  }
}



